*{
    text-decoration:none;
    list-style:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    display:flex;
    align-items: center;
    justify-content:center;
    
}
h1{
    text-align: center;
    color:rgb(61, 247, 4);

    width:50%;
    height:70px;
    box-shadow: 4px 4px 4px #000;
    border-radius: 5px;;
    animation: fade 1s;
     
    border:4px double #000;
}
h1 #one{
    color:#f7aa04
}
h1 #two{
    color:rgb(61, 247, 4)
}
body,section,div{
    background-color:rgb(12, 11, 11);
     display:flex;
     align-items:center;
     justify-content:center;
     flex-direction: column;
     

     
}
section,div{
    width:50%;
}
 div.form-wrapper{
     background-color:#fff;
     transition:ease 4s;
     background-color:rgb(248, 171, 6);
      
 }
form {
     
    height:400px;
    width:100%;
    background-color: rgb(10, 9, 9);
    box-shadow: 4px 4px 4px  #000;
    border-radius:5px;
    border:4px double #000;
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content:space-around;
    animation: fade 0.2s;
    overflow: hidden;
}

form div {
    width:80%;
    display:flex;
    align-items:initial;
    justify-content:flex-start;
}

div input {
    height:35px;
    width:100%;
    border:1px solid #000;
    background-color:rgb(7, 6, 5);
    font-size: 18px;
    color:rgb(255, 166, 0);
}
div label {

    font-size:20px;
    font-weight:bold;
    color:rgb(102, 102, 102);
    margin-bottom: 30px;;
}

form button {
    width: 40%;
    height:40px;
    border-radius: 5px;;

    font-size:20px;
    color:#000;
    background-color:#f7aa04;
    border:1px solid  #000;
    animation: move 200ms backwards;
    animation-delay: 150ms ; 

}

form .input-block{
    animation: move 500ms;
    animation-delay: 150ms ;
}
form .input-block:nth-child(2){
    animation: move 500ms backwards;
    animation-delay: 80ms ; 

}

/** APARECER SUAVEMENTE**/
@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.9)
    }
    to{
        opacity:1;
        transform:scale(1)
    }
}
/* fAZER AS INPUTS APARECEREM DA ESQUERDA PARA DIREITA*/
@keyframes move {
    from{
        opacity: 0;
        transform:  translateX(-35%);
    }
    to{
        opacity:1;
        transform:translateX(0%);
    }
}

/* fazer o formulario desaparecer */

.form-hide{
   animation: down 500ms; 
}
@keyframes down {
    from{
        
        transform:  translateY(0);
    }
    to{
        opacity:1;
        transform:translateY(100vh);
    }
}